name: integration-tests
on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11' ]
        architecture: [ 'x64' ]
    name: Integration tests for CLI
    steps:
      - uses: actions/checkout@v2.3.2
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
          architecture: ${{ matrix.architecture }}

      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Make
        run: cd distro && make

      - name: Set HZ_VERSION
        run: |
          echo "HZ_VERSION=$(grep '<hazelcast.version>' pom.xml | sed "s@.*<hazelcast.version>\(.*\)</hazelcast.version>.*@\1@")" >> $GITHUB_ENV

      - name: Run CLI for IMDG
        run: distro/build/dist/hazelcast-${{ env.HZ_VERSION }}/bin/hz start -c src/test/resources/integration-test-hazelcast.yaml &

      - name: Check IMDG health
        run: |
          attempts=0
          max_attempts=10
          until $(curl --silent --fail "127.0.0.1:5701/hazelcast/health/ready"); do
            if [ ${attempts} -eq ${max_attempts} ];then
                echo "Hazelcast not responding"
                exit 1
            fi
            printf '.'
            attempts=$(($attempts+1))
            sleep 1
          done

      - name: Run CLI for MC
        run: distro/build/dist/hazelcast-${{ env.HZ_VERSION }}/management-center/bin/start -J -Dhazelcast.mc.healthCheck.enable=true &

      - name: Check MC health
        run: |
          attempts=0
          max_attempts=10
          until $(curl --output /dev/null --silent --fail "localhost:8080/health"); do
            if [ ${attempts} -eq ${max_attempts} ];then
                echo "Hazelcast MC not responding"
                exit 1
            fi
            printf '.'
            attempts=$(($attempts+1))
            sleep 1
          done
