name: Publish BREW package

on:
  workflow_call:
    inputs:
      HZ_VERSION:
        description: 'Version of Hazelcast to build the image for, this is the Maven version - e.g.: 5.0.2 or 5.1-SNAPSHOT'
        required: true
        type: string
      HZ_DISTRIBUTION:
        description: 'Distribution to be built: hazelcast or hazelcast-enterprise'
        required: true
        type: string
      PACKAGE_VERSION:
        description: 'Version of the package e.g. 5.1.1, 5.1.1-1, defaults to HZ_VERSION'
        type: string
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string
      JAVA_VERSION:
        description: 'Java version to use'
        required: true
        type: string

concurrency:
  group: 'brew-${{ github.job }}-${{ inputs.HZ_VERSION }}-${{ inputs.HZ_DISTRIBUTION}}'

jobs:
  homebrew:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: macos-latest
    permissions:
      id-token: write
    env:
      HZ_VERSION: ${{ inputs.HZ_VERSION }}
      PACKAGE_VERSION: ${{ inputs.PACKAGE_VERSION || inputs.HZ_VERSION }}
      HZ_DISTRIBUTION: ${{ inputs.HZ_DISTRIBUTION }}
    steps:
      - name: Checkout hazelcast-packaging repo
        uses: actions/checkout@v6

      - name: Checkout hazelcast-docker repo
        uses: actions/checkout@v6
        with:
          repository: hazelcast/hazelcast-docker
          path: 'hazelcast-docker'

      - name: Install up-to-date tools
        run: |
          brew install gnu-sed
          brew install coreutils

          PATH="$HOMEBREW_PREFIX/opt/gnu-sed/libexec/gnubin:$PATH"
          sed --version
          PATH="$HOMEBREW_PREFIX/opt/coreutils/libexec/gnubin:$PATH"
          sha256sum --version
          echo "PATH=$HOMEBREW_PREFIX/opt/coreutils/libexec/gnubin:$HOMEBREW_PREFIX/opt/gnu-sed/libexec/gnubin:$PATH" >> $GITHUB_ENV

      - name: Download the distribution file
        uses: hazelcast/docker-actions/download-hz-dist@master
        id: download-hz-dist
        with:
          repo-vars-as-json: ${{ toJSON(vars) }}
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          distribution: ${{ env.HZ_DISTRIBUTION }}
          hz_version: ${{ env.HZ_VERSION }}
          packaging: "tar.gz"

      - name: Get the distribution file URL
        id: hz-dist-url
        run: |
          # Detect if the repo definition specifies authentication via a Maven server (e.g. "my-private-repo::::https://example.com/private-repo")
          if [[ "${{ steps.download-hz-dist.outputs.maven_repo_url }}" == *[!:]::::* ]]; then
            echo "Distribution URL requires authentication, aborting!";
            exit 1;
          else
            echo "url=${{ steps.download-hz-dist.outputs.maven_repo_url }}/com/hazelcast/${HZ_DISTRIBUTION}-distribution/${HZ_VERSION}/${HZ_DISTRIBUTION}-distribution-${HZ_VERSION}.tar.gz" >> ${GITHUB_OUTPUT}
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_DEV_INFRA_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          aws-region: 'us-east-1'

      - name: Get Secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            GITHUB/DEVOPSHAZELCAST
          parse-json-secrets: true

      - name: Checkout ${{ vars.BREW_GIT_REPO_NAME }} repo
        run: |
          # Add a GitHub token be able to use a homebrew tap from the private repository
          git config --global url."https://${GITHUB_DEVOPSHAZELCAST_SECRET}@github.com/".insteadOf "https://github.com/"

          # Checkout via homebrew so that we can modify and test locally without having to push to the main upstream branch
          brew tap ${{ vars.BREW_TAP_NAME }}

          # https://github.com/Homebrew/brew/issues/1505#issuecomment-260505067
          echo "BREW_GIT_REPO_LOCATION=$(brew --repo)/Library/Taps/${{ vars.BREW_GIT_REPO_NAME }}" >> ${GITHUB_ENV}

      - name: Change the artifact in ${{ env.BREW_GIT_REPO_LOCATION }}
        run: |
          ./build-hazelcast-homebrew-package.sh
        env:
          HZ_PACKAGE_URL: ${{ steps.hz-dist-url.outputs.url }}
          JAVA_VERSION: ${{ inputs.JAVA_VERSION }}

      - name: Install Hazelcast from Homebrew
        run: |
          source ./common.sh
          brew install ${HZ_DISTRIBUTION}@$BREW_PACKAGE_VERSION

      - name: Run Hazelcast
        env:
          HZ_LICENSEKEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
        run: HAZELCAST_CONFIG="$(pwd)/config/integration-test-hazelcast.yaml" hz-start > hz.log 2>&1 &

      - name: Check Hazelcast health
        run: |
          ./check-hazelcast-health.sh "${HZ_DISTRIBUTION}" "${HZ_VERSION}"

      - name: Uninstall Hazelcast from homebrew
        run: |
          source ./common.sh          
          brew uninstall ${HZ_DISTRIBUTION}@$BREW_PACKAGE_VERSION

      - name: Create PR for changes in ${{ vars.BREW_GIT_REPO_NAME }} repo
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        id: create-pull-request
        with:
          token: ${{ env.GITHUB_DEVOPSHAZELCAST_SECRET }}
          path: ${{ env.BREW_GIT_REPO_LOCATION }}
          branch: ${{ github.job }}_run_${{ github.run_id }}
          title: Hazelcast Homebrew Package ${{ env.PACKAGE_VERSION }} release
          body: Generated by ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.

      - name: Automerge ${{ steps.create-pull-request.outputs.pull-request-url }} if required
        # Only auto-merge if there are any changes _to_ merge (i.e. PR was created)
        if: steps.create-pull-request.outputs.pull-request-operation == 'created'
        run: |
          source ./logging.functions.sh
          source ./common.sh

          if [[ "${RELEASE_CHANNEL}" == "stable" ]]; then
            echonotice "PR staged at ${{ steps.create-pull-request.outputs.pull-request-url }}, manual merge required"
          else
            gh pr merge \
              ${{ steps.create-pull-request.outputs.pull-request-url }} \
              --auto \
              --squash
          fi
        env:
          GH_TOKEN: ${{ env.GITHUB_DEVOPSHAZELCAST_SECRET }}

      - name: Store logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: brew-${{ env.HZ_DISTRIBUTION}}-hz.log
          path: hz.log