name: Publish DEB package

on:
  workflow_call:
    inputs:
      HZ_VERSION:
        description: 'Version of Hazelcast to build the image for, this is the Maven version - e.g.: 5.0.2 or 5.1-SNAPSHOT'
        required: true
        type: string
      HZ_DISTRIBUTION:
        description: 'Distribution to be built: hazelcast or hazelcast-enterprise'
        required: true
        type: string
      PACKAGE_VERSION:
        description: 'Version of the package e.g. 5.1.1, 5.1.1-1, defaults to HZ_VERSION'
        type: string
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string
      JAVA_VERSION:
        description: 'Java version to use'
        required: true
        type: string

env:
  JFROG_USERNAME: ${{ secrets.JFROG_USERNAME }}
  JFROG_TOKEN: ${{ secrets.JFROG_TOKEN }}
  ENVIRONMENT: ${{ inputs.ENVIRONMENT }}

concurrency:
  group: 'deb-${{ github.job }}-${{ inputs.HZ_VERSION }}-${{ inputs.HZ_DISTRIBUTION}}'

jobs:
  deb:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    container:
      image: debian:stable
    defaults:
      run:
        shell: bash
    env:
      HZ_VERSION: ${{ inputs.HZ_VERSION }}
      PACKAGE_VERSION: ${{ inputs.PACKAGE_VERSION || inputs.HZ_VERSION }}
      HZ_DISTRIBUTION: ${{ inputs.HZ_DISTRIBUTION }}

    steps:
      - name: Checkout hazelcast-packaging repo
        uses: actions/checkout@v6

      - name: Checkout hazelcast-docker repo
        uses: actions/checkout@v6
        with:
          repository: hazelcast/hazelcast-docker
          path: 'hazelcast-docker'

      - name: Install prerequisites
        run: |
          apt-get update
          apt-get install -y curl gettext-base gpg sudo wget maven jq

      - uses: s4u/maven-settings-action@894661b3ddae382f1ae8edbeab60987e08cf0788 # v4.0.0
        with:
          path: /usr/share/maven/conf/settings.xml
          servers: |
            [{
                "id": "snapshot-internal",
                "username": "${{ secrets.HZ_SNAPSHOT_INTERNAL_USERNAME }}",
                "password": "${{ secrets.HZ_SNAPSHOT_INTERNAL_PASSWORD }}"
            }]

      - name: Download the distribution file
        uses: hazelcast/docker-actions/download-hz-dist@master
        with:
          repo-vars-as-json: ${{ toJSON(vars) }}
          distribution: ${{ env.HZ_DISTRIBUTION }}
          hz_version: ${{ env.HZ_VERSION }}
          packaging: "tar.gz"

      - name: Create & Upload DEB package
        run: |
          ./build-hazelcast-deb-package.sh
        env:
          JAVA_VERSION: ${{ inputs.JAVA_VERSION }}

      - name: Calculate Debian Repository Metadata
        run: |
          source common.sh

          curl --fail-with-body --retry 10 --retry-max-time 240 -H "Authorization: Bearer ${JFROG_TOKEN}" \
            -X POST "https://repository.hazelcast.com/api/deb/reindex/${DEBIAN_REPO}"

      - name: Install Hazelcast from deb
        env:
          HZ_LICENSEKEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
        run: |
          source ./common.sh
          apt-get install -y --no-upgrade wget gpg coreutils \
            && wget \
              https://repository.hazelcast.com/api/gpg/key/public \
              --output-document - \
              --quiet \
              | gpg --dearmor \
              | sudo tee /usr/share/keyrings/hazelcast-archive-keyring.gpg > /dev/null \
            && echo "deb [signed-by=/usr/share/keyrings/hazelcast-archive-keyring.gpg] ${DEBIAN_REPO_BASE_URL} ${PACKAGE_REPO} main" | sudo tee -a /etc/apt/sources.list \
            && sudo apt-get update && sudo apt-get install -y ${HZ_DISTRIBUTION}=${HZ_VERSION}
          HAZELCAST_CONFIG="$(pwd)/config/integration-test-hazelcast.yaml" hz-start > hz.log 2>&1 &

      - name: Check Hazelcast health
        run: |
          ./check-hazelcast-health.sh "${HZ_DISTRIBUTION}" "${HZ_VERSION}"

      - name: Uninstall Hazelcast from deb
        run: |
          source ./common.sh
          sudo apt-get remove -y ${HZ_DISTRIBUTION}

      - name: Remove deb package from test repo
        if: ${{ inputs.ENVIRONMENT == 'test' && (success() || failure()) }}
        run: |
          source ./common.sh
          curl -H "Authorization: Bearer ${JFROG_TOKEN}" \
            -X DELETE \
            "$DEBIAN_REPO_BASE_URL/${HZ_DISTRIBUTION}-${DEB_PACKAGE_VERSION}-all.deb"

      - name: Store logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: deb-${{ env.HZ_DISTRIBUTION}}-hz.log
          path: hz.log
