name: Publish DEB package

on:
  workflow_call:
    inputs:
      HZ_VERSION:
        description: 'Version of Hazelcast to build the image for, this is the Maven version - e.g.: 5.0.2 or 5.1-SNAPSHOT'
        required: true
        type: string
      HZ_DISTRIBUTION:
        description: 'Distribution to be built: hazelcast or hazelcast-enterprise'
        required: true
        type: string
      PACKAGE_VERSION:
        description: 'Version of the package e.g. 5.1.1, 5.1.1-1, defaults to HZ_VERSION'
        type: string
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string
      JAVA_VERSION:
        description: 'Java version to use'
        required: true
        type: string

concurrency:
  group: 'deb-${{ github.job }}-${{ inputs.HZ_VERSION }}-${{ inputs.HZ_DISTRIBUTION}}'

jobs:
  deb:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    container:
      image: debian:stable
    defaults:
      run:
        shell: bash
    env:
      HZ_VERSION: ${{ inputs.HZ_VERSION }}
      PACKAGE_VERSION: ${{ inputs.PACKAGE_VERSION || inputs.HZ_VERSION }}
      HZ_DISTRIBUTION: ${{ inputs.HZ_DISTRIBUTION }}
      DEBIAN_REPO_BASE_URL: https://repository.hazelcast.com/${{ vars.DEBIAN_REPO }}

    steps:
      - name: Checkout hazelcast-packaging repo
        uses: actions/checkout@v6

      - name: Checkout hazelcast-docker repo
        uses: actions/checkout@v6
        with:
          repository: hazelcast/hazelcast-docker
          path: 'hazelcast-docker'

      - name: Install prerequisites
        run: |
          apt-get update
          apt-get install -y curl gettext-base gpg sudo wget maven jq

      - name: Download the distribution file
        uses: hazelcast/docker-actions/download-hz-dist@master
        with:
          repo-vars-as-json: ${{ toJSON(vars) }}
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          maven-settings-path: /usr/share/maven/conf/settings.xml
          distribution: ${{ env.HZ_DISTRIBUTION }}
          hz_version: ${{ env.HZ_VERSION }}
          packaging: "tar.gz"

      - uses: hazelcast/docker-actions/get-jfrog-credentials@master
        id: authenticate-jfrog-write-dev-account
        with:
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          jfrog-oidc-provider-name: ${{ github.repository_owner }}-write-dev-account

      - name: Create & Upload DEB package
        run: |
          ./build-hazelcast-deb-package.sh
        env:
          JAVA_VERSION: ${{ inputs.JAVA_VERSION }}
          JFROG_TOKEN: ${{ steps.authenticate-jfrog-write-dev-account.outputs.token }}

      - name: Calculate Debian Repository Metadata
        run: |
          curl --fail-with-body --retry 10 --retry-max-time 240 -H "Authorization: Bearer ${JFROG_TOKEN}" \
            -X POST "https://repository.hazelcast.com/api/deb/reindex/${{ vars.DEBIAN_REPO }}"
        env:
          JFROG_TOKEN: ${{ steps.authenticate-jfrog-write-dev-account.outputs.token }}

      - name: Install Hazelcast from deb
        env:
          HZ_LICENSEKEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
          JFROG_USER: ${{ steps.authenticate-jfrog-write-dev-account.outputs.user }}
          JFROG_TOKEN: ${{ steps.authenticate-jfrog-write-dev-account.outputs.token }}
        run: |
          source ./common.sh

          # Setup authentication file to access private repo
          sudo bash -c "cat >/etc/apt/auth.conf.d/hazelcast.conf <<EOF
            machine $(echo ${DEBIAN_REPO_BASE_URL} | sed -E 's#https?://([^/]+).*#\1#')
            login ${JFROG_USER}
            password ${JFROG_TOKEN}
          EOF"

          sudo chmod 600 /etc/apt/auth.conf.d/hazelcast.conf

          apt-get install -y --no-upgrade wget gpg coreutils \
            && wget \
              https://repository.hazelcast.com/api/gpg/key/public \
              --output-document - \
              --quiet \
              | gpg --dearmor \
              | sudo tee /usr/share/keyrings/hazelcast-archive-keyring.gpg > /dev/null \
            && echo "deb [signed-by=/usr/share/keyrings/hazelcast-archive-keyring.gpg] ${DEBIAN_REPO_BASE_URL} ${PACKAGE_REPO} main" | sudo tee -a /etc/apt/sources.list.d/hazelcast.list \
            && sudo apt-get update && sudo apt-get install -y ${HZ_DISTRIBUTION}=${HZ_VERSION}
          HAZELCAST_CONFIG="$(pwd)/config/integration-test-hazelcast.yaml" hz-start > hz.log 2>&1 &

      - name: Check Hazelcast health
        run: |
          ./check-hazelcast-health.sh "${HZ_DISTRIBUTION}" "${HZ_VERSION}"

      - name: Uninstall Hazelcast from deb
        run: |
          sudo apt-get remove -y ${HZ_DISTRIBUTION}

      - name: Remove deb package from test repo
        if: ${{ inputs.ENVIRONMENT == 'test' && (success() || failure()) }}
        run: |
          source ./common.sh
          curl -H "Authorization: Bearer ${JFROG_TOKEN}" \
            -X DELETE \
            "$DEBIAN_REPO_BASE_URL/${HZ_DISTRIBUTION}-${DEB_PACKAGE_VERSION}-all.deb"
        env:          
          JFROG_TOKEN: ${{ steps.authenticate-jfrog-write-dev-account.outputs.token }}

      - name: Store logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: deb-${{ env.HZ_DISTRIBUTION}}-hz.log
          path: hz.log
