name: Publish RPM package

on:
  workflow_call:
    inputs:
      HZ_VERSION:
        description: 'Version of Hazelcast to build the image for, this is the Maven version - e.g.: 5.0.2 or 5.1-SNAPSHOT'
        required: true
        type: string
      HZ_DISTRIBUTION:
        description: 'Distribution to be built: hazelcast or hazelcast-enterprise'
        required: true
        type: string
      PACKAGE_VERSION:
        description: 'Version of the package e.g. 5.1.1, 5.1.1-1, defaults to HZ_VERSION'
        type: string
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string
      JAVA_VERSION:
        description: 'Java version to use'
        required: true
        type: string

env:
  JFROG_USERNAME: ${{ secrets.JFROG_USERNAME }}
  JFROG_TOKEN: ${{ secrets.JFROG_TOKEN }}

concurrency:
  group: 'rpm-${{ github.job }}-${{ inputs.HZ_VERSION }}-${{ inputs.HZ_DISTRIBUTION}}'

jobs:
  rpm:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    container: rockylinux:9
    env:
      HZ_VERSION: ${{ inputs.HZ_VERSION }}
      PACKAGE_VERSION: ${{ inputs.PACKAGE_VERSION || inputs.HZ_VERSION }}
      HZ_DISTRIBUTION: ${{ inputs.HZ_DISTRIBUTION }}
      RPM_REPO_BASE_URL: https://repository.hazelcast.com/${{ vars.RPM_REPO }}
    steps:
      - name: Checkout hazelcast-packaging repo
        uses: actions/checkout@v6

      - name: Checkout hazelcast-docker repo
        uses: actions/checkout@v6
        with:
          repository: hazelcast/hazelcast-docker
          path: 'hazelcast-docker'

      - name: Install Required tools
        run: |
          yum install -y maven rpm-sign rpm-build wget gettext systemd-rpm-macros jq

      - name: Download the distribution file
        uses: hazelcast/docker-actions/download-hz-dist@authenticate-with-oidc
        with:
          repo-vars-as-json: ${{ toJSON(vars) }}
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          maven-settings-path: /usr/share/maven/conf/settings.xml
          distribution: ${{ env.HZ_DISTRIBUTION }}
          hz_version: ${{ env.HZ_VERSION }}
          packaging: "tar.gz"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_DEV_INFRA_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_INFRA_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'

      - name: Get Secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            SIGNING_KEY,SIGNING/GPG-KEY-2011
          parse-json-secrets: true

      - name: Create & Sign & Upload RPM package
        run: |
          ./build-hazelcast-rpm-package.sh
        env:
          JAVA_VERSION: ${{ inputs.JAVA_VERSION }}

      - name: Calculate YUM Repository Metadata
        run: |
          curl --fail-with-body --retry 10 --retry-max-time 240 -H "Authorization: Bearer ${JFROG_TOKEN}" \
            -X POST "https://repository.hazelcast.com/api/yum/${{ vars.RPM_REPO }}"

      - name: Install Hazelcast from rpm
        env:
          HZ_LICENSEKEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
        run: |
          source ./common.sh

          # Bake authentication into the returned URLs
          wget \
            ${RPM_REPO_BASE_URL}/${PACKAGE_REPO}/hazelcast-rpm-${PACKAGE_REPO}.repo \
            --header "Authorization: Bearer ${JFROG_TOKEN}" \
            --output-document - | \
          sed "s#https://#https://${JFROG_USERNAME}:${JFROG_TOKEN}@#g" > \
          /etc/yum.repos.d/hazelcast-rpm-${PACKAGE_REPO}.repo

          yum install -y ${HZ_DISTRIBUTION}-${RPM_HZ_VERSION}
          HAZELCAST_CONFIG="$(pwd)/config/integration-test-hazelcast.yaml" hz-start > hz.log 2>&1 &

      - name: Check Hazelcast health
        run: |
          ./check-hazelcast-health.sh "${HZ_DISTRIBUTION}" "${HZ_VERSION}"

      - name: Uninstall Hazelcast from rpm
        run: |
          source ./common.sh
          yum remove -y ${HZ_DISTRIBUTION}-${RPM_PACKAGE_VERSION}

      - name: Remove rpm package from test repo
        if: ${{ inputs.ENVIRONMENT == 'test' && (success() || failure()) }}
        run: |
          source ./common.sh
          curl -H "Authorization: Bearer ${JFROG_TOKEN}" \
            -X DELETE \
            "$RPM_REPO_BASE_URL/${PACKAGE_REPO}/${HZ_DISTRIBUTION}-${RPM_PACKAGE_VERSION}.noarch.rpm"

      - name: Store logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: rpm-${{ env.HZ_DISTRIBUTION }}-hz.log
          path: hz.log
